<div class="mt-4">
  <a href="/products/create"  class="btn btn-success bg-blue-300 mb-3 text-black font-bold">Thêm mới</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.productName}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>
      <td><a href="/products/{{this._id}}/edit"  class="btn btn-success text-black font-bold w-20">Edit</a>
<a href="/products/{{this._id}}/edit" data-id="{{this._id}}"  class="btn btn-danger text-black font-bold w-20 mt-2"data-toggle="modal" data-target="#delete-product-modal">Delete</a></td>
    </tr>
     {{/each}}
  </tbody>
</table>
</div>



<!-- Modal -->
<div class="modal fade" id="delete-product-modal" tabindex="-1" role="dialog" aria-labelledby="delete-product-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-product-modal">Cảnh báo xóa sản phẩm!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa sản phẩm này?
      </div>
      <div class="modal-footer">
         <button type="button"id="btn-delete-product" class="btn btn-danger  text-black">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary text-black" data-dismiss="modal">Hủy</button>
       
      </div>
    </div>
  </div>
</div>

 {{!-- delete form --}}
     <form name="delete-product-form" method="POST" action="/products/{{products._id}}?_method=DELETE" class="mt-4 w-[70%] mx-auto mb-10"></form>
<script>
document.addEventListener("DOMContentLoaded", function () {
  // khi dialog confirm click
  var productId;
  var deleteForm = document.forms['delete-product-form']
  var btnDeleteProduct = document.getElementById('btn-delete-product');

  $('#delete-product-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    productId = button.data('id'); // Sử dụng biến global, không cần khai báo lại với var
    console.log(productId);
  })

  btnDeleteProduct.onclick = function () {
    alert(productId);
    deleteForm.action='/products/'+productId+'?_method=DELETE';
    deleteForm.submit();
  }
});
 
</script>