

<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4 font-bold"> <img id="main-image"  src="{{product.images.[0]}}" alt="{{product.productName}}" width="250" /> </div>
                        </div>
                         <div class="mt-4 flex justify-around small-img-container">
                   
                </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span class="ml-1 font-bold">{{product.slug}}</span> </div> <i class="fa fa-shopping-cart text-muted"></i>
                            </div>
                            <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand font-bold text-2xl">{{product.productName}}</span>
                                <h5 class="text-uppercase">{{product.productName}}</h5>
                                <div class="price d-flex flex-row align-items-center"> <span class="act-price">${{product.sale_price}}</span>
                                    <div class="ml-2"> <small class="dis-price line-through">${{product.price}}</small> <span>40% OFF</span> </div>
                                </div>
                            </div>
                            <p class="about">{{product.description}}</p>
                                   <h4
                        class="text-[#000] font-bold leading-6 text-[15px] mb-[10px] ">
                        Số Lượng :</h4>
                        <div class="flex items-center mb-4">
                        <button id="decreaseBtn"
                            class="px-2 py-1 border-[1px] border-[#ECECEC]  text-gray-700 rounded-l">-</button>
                        <input id="quantityInput" type="text" min="0" value="0"
                            class="px-2 py-1 text-center w-[50px] border-[1px] border-[#ECECEC]  text-gray-700">
                        <button id="increaseBtn"
                            class="px-2 py-1  text-gray-700 rounded-r border-[1px] border-[#ECECEC] ">+</button>
                    </div>
                    <button
                        class="h-12 rounded-[4px] w-[300px] bg-[#FF3945] text-white  font-normal leading-6 text-[14px]"
                        type="submit">Chọn mua</button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>